{{!< default}}
<!--<div class="container">-->
<!--<div class="jumbotron"><img src="/images/logo.svg" width="160">-->
<!--<h1>Welcome</h1>-->
<!--<p>This is your new <a href='http://keystonejs.com' target='_blank'>KeystoneJS</a> website.</p>-->
<!--<p>-->
<!--It includes the latest versions of-->
<!--<a href='http://getbootstrap.com/' target='_blank'>Bootstrap</a>-->
<!--and <a href='http://www.jquery.com/' target='_blank'>jQuery</a>.-->
<!--</p>-->
<!--<p>Visit the <a href='http://keystonejs.com/guide' target='_blank'>Getting Started</a> guide to learn how to customise it.</p>-->
<!--<hr>-->
<!--<p>We have created a default Admin user for you with the email <strong>user@keystonejs.com</strong> and the password <strong>admin</strong>.</p>-->
<!--<p><a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">Sign in</a> to use the Admin UI.</p>-->
<!--<hr>-->
<!--<p>-->
<!--Remember to <a href='https://github.com/keystonejs/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and-->
<!--<a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.-->
<!--</p>-->
<!--</div>-->
<!--<div class="hero__background--left"></div>-->
<!--</div>-->



<main class="container-fluid">

	<!-- Navigation Bar -->
	<section class="row">
		<header class="container">
			<div class="row">
			<div role="navigation" class="navbar navbar-default">
				<div class="navbar-header">
					<a href="/" class="navbar-brand navbar-brand-EH">
						<img src="/images/LOGO-VEH-StaSterker.svg" class="logo-VEH" alt="VEH" title="VEH">
					</a>
					<div class="nav-right hidden-xs">
						<a href="#login-box" class="profile-user login-window" target="blank">
							<i class="fa fa-user"></i>
						</a>
						<div class="button button-navbar" id="btn">
							<div class="bar top"></div>
							<div class="bar middle"></div>
							<div class="bar bottom"></div>
						</div>
					</div>
					<div class="nav-right visible-xs">
						<a href="/" class="profile-user" target="blank">
							<i class="fa fa-user"></i>
						</a>
						<div class="button button-navbar" id="btn">
							<div class="bar top"></div>
							<div class="bar middle"></div>
							<div class="bar bottom"></div>
						</div>
					</div>
				</div>
			</div>
			</div>
		</header>
	</section>
	<!-- Navigation Bar ENDS-->

	<!-- Main Content -->

	<!-- Hero Section -->
	<section class="row hero">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<div class="hero__content">
						<h1 class="hero__title">
							Een hypotheekadvies gebaseerd op uw woonwensen
						</h1>
						<button type="button" class="button button-hero">
							Start
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero Section ENDS -->

	<!-- Guarantee Section -->
	<section class="row">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<img src="/images/toekomstbestendiger.svg" class="guarantee__block-image"
						 style="height:100px">
					<h4 class="guarantee__block-title">
						Toekomstbestendiger
					</h4>
					<p class="guarantee__block-text">
						U krijgt van ons een hypotheekadvies voor nu en in de toekomst. Als uw situatie
						verandert,
						kan eenvoudig gekeken worden of het advies bij uw situatie past
					</p>
				</div>
				<div class="col-xs-12 col-sm-4">
					<img src="/images/begrijpelijker.svg" class="guarantee__block-image" style="height:100px">
					<h4 class="guarantee__block-title">
						Begrijpelijker
					</h4>
					<p class="guarantee__block-text">
						Wij geven u in begrijpelijke taal advies dat past bij uw situatie
					</p>

				</div>
				<div class="col-xs-12 col-sm-4">
					<img src="/images/objectiever.svg" class="guarantee__block-image" style="height:100px">
					<h4 class="guarantee__block-title">
						Objectiever
					</h4>
					<p class="guarantee__block-text">
						Uw wensen en uitgangsputnen vormen de basis voor een financieel plan en komt tegemoet
						aan uw keuzes.
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Guarantee Section ENDS -->

	<!-- Always Prepared Section-->
	<section class="row alwaysPrepared">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<h1 class="alwaysPrepared__title">
						Altijd Voorbereid
					</h1>
					<p>
						Of u nu een huis koopt of een bestaande hypotheek aanpast,
						met ons bent u voorbereid op de toekomst.
					</p>
					<button type="button" class="button button-alwaysPrepared" style="margin-top: 45px">
						Start
					</button>
				</div>
			</div>
		</div>
	</section>
	<!-- Always Prepared Section ENDS -->

	<!-- Main Content ENDS-->
</main>

<!-- Footer -->
<footer id="footer" class="container-fluid main-footer">
	<div class="row">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<a href="" target="_blank">Disclaimer en privacystatement</a>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer ENDS -->



<!-- Login Modal-->
<!-- Side Bar -->
<section class="sidebar">
	<ul class="sidebar-list">
		<li class="sidebar-item"><a href="#" class="sidebar-anchor"></a></li>
		<li class="sidebar-item"><a href="/hypotheekadvies" class="sidebar-anchor">Hypotheekadvies</a></li>
		<li class="sidebar-item"><a href="#login-box" class="sidebar-anchor login-window">Login</a></li>
		<li class="sidebar-item"><a href="#" class="sidebar-anchor">Logout</a></li>
	</ul>
</section>
<!-- Side Bar ENDS-->

<!-- Login Popup -->
<section id="login-box" class="login-popup">
	<header class="popup-header">
		<span>
			<a href="#login-box" class="popup-header__login" id="login-form">
				Login
			</a>
		</span>
		<span>
			<a href="#" class="popup-header__signup" id="signup-form">
				Signup
			</a>
		</span>
		<span class="popup-header__close">
			<i class="fa fa-times"></i>
		</span>
	</header>
	<div class="popup-body">
		
		<!-- Login Popup -->
		<div class="login-user">
			<form>
				<label>Email/Username</label>
				<input type="text"/>
				<br/>
				<label>Password</label>
				<input type="password"/>
				<br/>
				<div class="checkbox">
					<input id="remember" type="checkbox">
					<label for="remember" class="checkbox-label">Remember Login</label>
				</div>
			</form>
		</div>
		
		<div class="social_login">
			<div class="">
				<a href="#" class="social_box fb">
					<span class="icon"><i class="fa fa-facebook"></i></span>
					<span class="icon_title">Connect with Facebook</span>
				</a>
				<a href="#" class="social_box google">
					<span class="icon"><i class="fa fa-google-plus"></i></span>
					<span class="icon_title">Connect with Google</span>
				</a>
			</div>
		</div>
	
		<!-- Signup Popup -->
		<div class="signup-user">
			<form>
				<label>Full Name</label>
				<input type="text"/>
			 	<br/>
				<label>Email Address</label>
				<input type="email"/>
				<br/>
				<label>Password</label>
				<input type="password"/>
				<br/>
				<div class="checkbox">
					<input id="send_updates" type="checkbox">
					<label for="send_updates" class="checkbox-label">Send me occasional email updates</label>
				</div>
				<a href="#" class="btn button-signup">
					Sign me up!
				</a>
			</form>
		</div>
		<!-- Signup Popup ENDS -->
	</div>
</section>

		

		<!--<div id="modal" class="popupContainer" style="display:none;">-->
			<!--<header class="popupHeader">-->
				<!--<span class="header_title">Login</span>-->
				<!--<span class="modal_close"><i class="fa fa-times"></i></span>-->
			<!--</header>-->

		<!--<section class="popupBody">-->
			<!--&lt;!&ndash; Social Login &ndash;&gt;-->
			<!--<div class="social_login">-->
				<!--<div class="">-->
					<!--<a href="#" class="social_box fb">-->
						<!--<span class="icon"><i class="fa fa-facebook"></i></span>-->
						<!--<span class="icon_title">Connect with Facebook</span>-->

					<!--</a>-->

					<!--<a href="#" class="social_box google">-->
						<!--<span class="icon"><i class="fa fa-google-plus"></i></span>-->
						<!--<span class="icon_title">Connect with Google</span>-->
					<!--</a>-->
				<!--</div>-->

				<!--<div class="centeredText">-->
					<!--<span>Or use your Email address</span>-->
				<!--</div>-->

				<!--<div class="action_btns">-->
					<!--<div class="one_half"><a href="#" id="login_form" class="btn">Login</a></div>-->
					<!--<div class="one_half last"><a href="#" id="register_form" class="btn">Sign up</a></div>-->
				<!--</div>-->
			<!--</div>-->

			<!--&lt;!&ndash; Username & Password Login form &ndash;&gt;-->
			<!--<div class="user_login">-->
				<!--<form>-->
					<!--<label>Email / Username</label>-->
					<!--<input type="text" />-->
					<!--<br />-->

					<!--<label>Password</label>-->
					<!--<input type="password" />-->
					<!--<br />-->

					<!--<div class="checkbox">-->
						<!--<input id="remember" type="checkbox" />-->
						<!--<label for="remember">Remember me on this computer</label>-->
					<!--</div>-->

					<!--<div class="action_btns">-->
						<!--<div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>-->
						<!--<div class="one_half last"><a href="#" class="btn btn_red">Login</a></div>-->
					<!--</div>-->
				<!--</form>-->

				<!--<a href="#" class="forgot_password">Forgot password?</a>-->
			<!--</div>-->

			<!--&lt;!&ndash; Register Form &ndash;&gt;-->
			<!--<div class="user_register">-->
				<!--<form>-->
					<!--<label>Full Name</label>-->
					<!--<input type="text" />-->
					<!--<br />-->

					<!--<label>Email Address</label>-->
					<!--<input type="email" />-->
					<!--<br />-->

					<!--<label>Password</label>-->
					<!--<input type="password" />-->
					<!--<br />-->

					<!--<div class="checkbox">-->
						<!--<input id="send_updates" type="checkbox" />-->
						<!--<label for="send_updates">Send me occasional email updates</label>-->
					<!--</div>-->

					<!--<div class="action_btns">-->
						<!--<div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>-->
						<!--<div class="one_half last"><a href="#" class="btn btn_red">Register</a></div>-->
					<!--</div>-->
				<!--</form>-->
			<!--</div>-->
		<!--</section>-->
	<!--</div>-->
</section>
<!-- Login Popup ENDS -->


<!--&lt;!&ndash; Login Popup &ndash;&gt;-->
<!--&lt;!&ndash; Side Bar &ndash;&gt;-->
<!--<div class="sidebar">-->
	<!--<ul class="sidebar-list">-->
		<!--<li class="sidebar-item"><a href="#" class="sidebar-anchor"></a></li>-->
		<!--<li class="sidebar-item"><a href="#" class="sidebar-anchor"></a></li>-->
		<!--<li class="sidebar-item"><a href="#login-box" class="sidebar-anchor login-window">Login</a></li>-->
		<!--<li class="sidebar-item"><a href="#" class="sidebar-anchor">Logout</a></li>-->
	<!--</ul>-->
<!--</div>-->
<!--&lt;!&ndash; Side Bar ENDS&ndash;&gt;-->

<!--<div id="login-box" class="login-popup">-->
	<!--<a href="#" class="close"><img src="close_pop.png" class="btn_close" title="Close Window" alt="Close" /></a>-->
	<!--<form method="post" class="signin" action="#">-->
		<!--<fieldset class="textbox">-->
			<!--<label class="username">-->
				<!--<span>Username or email</span>-->
				<!--<input id="username" name="username" value="" type="text" autocomplete="on" placeholder="Username">-->
			<!--</label>-->
			<!--<label class="password">-->
				<!--<span>Password</span>-->
				<!--<input id="password" name="password" value="" type="password" placeholder="Password">-->
			<!--</label>-->
			<!--<button class="submit button" type="button">Sign in</button>-->
			<!--<p>-->
				<!--<a class="forgot" href="#">Forgot your password?</a>-->
			<!--</p>-->
		<!--</fieldset>-->
	<!--</form>-->
<!--</div>-->
<!--&lt;!&ndash; Login Popup ENDS&ndash;&gt;-->


<!--&lt;!&ndash; Side Bar &ndash;&gt;-->
<!--<div class="sidebar">-->
<!--<ul class="sidebar-list">-->
<!--<li class="sidebar-item"><a href="#" class="sidebar-anchor">Brandan</a></li>-->
<!--<li class="sidebar-item"><a href="#" class="sidebar-anchor">is</a></li>-->
<!--<li class="sidebar-item"><a href="#" class="sidebar-anchor">een</a></li>-->
<!--<li class="sidebar-item"><a href="#" class="sidebar-anchor">Baas</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--&lt;!&ndash; Side Bar ENDS&ndash;&gt;-->

