$normal-blue: #2C2895 !default;

$normal-white: #FFFFFF !default;

$light-red: #FB6764 !default;
$normal-red: #ED1C24 !default;
$dark-red: #C10000 !default;

$light-orange: #FFB65F !default;
$normal-orange: #f6921e !default;
$dark-orange: #F48100 !default;

$ultralight-grey: #F3EAEA !default;
$light-grey: #E0D7D7 !default;
$normal-grey: #B7AEAE !default;
$dark-grey: #8E7F7F !default;
$ultradark-grey: #594E4E !default;

$ultralight-purple: #F2F2F6 !default;
$light-purple: #E7E7EF !default;
$normal-purple: #C3BDD5 !default;
$medium-purple: #9A90B8 !default;
$dark-purple: #574689 !default;
$ultradark-purple: #352171 !default;

$primary-brand-color: $normal-orange;
$secondary-brand-color: $ultradark-purple;
